.page-ranking{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -220px;
    right: 0;
    .container{
        max-width: 342px;
        border-radius: 4px;
        margin: 0 auto;
    }
}